.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  display: flex;
  align-items: flex-start;
  max-width: 700px;
  position: relative;
  animation: anim-show 0.3s;
}

#certificate {
  max-width: 700px;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  color: #000;
  font-size: 32px;
  position: absolute;
  right: 2px;
  padding: 3px;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  width: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #eeeeee6a;
  border: solid 1px #000;
}

@media (width <= 700px) {
  .modal-body {
    max-width: 300px;
  }

  #certificate {
    max-width: 300px;
  }

  button {
    font-size: 20px;
    width: 25px;
  }
}

@keyframes anim-show {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
